@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #ebf0f7;
	font-family: "Inter", sans-serif;
	transition: all 0.5s linear;
}
.newnotification {
	position: absolute;
	top: 20px;
	right: 69px;
	display: block;
	height: 10px;
	width: 10px;
	background: #ffc632;
	border-radius: 100%;
}
.bgOnProfileButton {
	border-radius: 100%;
	background-color: #c5dbf0;
}
.panelShadow {
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.1);
}
.inputShadow {
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}
.removeScrollbar::-webkit-scrollbar {
	display: none;
}
.bgOnChatPanel {
	background-color: #d8e5f3;
}
.bgOnActiveChat {
	background-color: #dedfcf;
}
.bgOnMessage {
	background-color: #dad9d9;
}
.bgOnRecentChat {
	background-color: #d7e0ef;
}
.img-wrap {
	position: relative;
	width: 100px;
	overflow: hidden;
	border-radius: 50%;
}
.uploadbutton {
	position: absolute;
	padding: 30px;
	color: #fff;
	width: 100px;
	opacity: 0;
	transition: 0.25s all ease;
	background: #000000;
}
.img-upload:hover .uploadbutton {
	opacity: 1;
}
.myselect {
	border-right: 16px solid transparent;
}
.crossbutton3 {
	background-color: white;
	color: black;
	border-radius: 100%;
}
